// Home Page Styles

.intro-section {
  display: flex;
  overflow: hidden;

  div {
    flex-basis: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      height: 60%;
      position: absolute;
    }

    #layer-2 {
      animation: layer-2 2s ease-in-out alternate infinite;
    }
    #layer-3 {
      animation: layer-3 2s ease-in-out alternate infinite;
    }
    
  }
}

@keyframes layer-2 {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
@keyframes layer-3 {
  0% {
    transform: translatex(-1rem);
  }
  100% {
    transform: translateX(1rem);
  }
}