.navbar-root-container {
  position: sticky;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 82px;
  z-index: 99;
}

.logo-container {
  background-color: green;
  display: flex;
  padding: 1%;
}

.brand-container {
  justify-self: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;
}

.brand-container span {
  font-family: Lobster, serif;
  font-size: 32px;
  font-weight: bold;
  transition: all ease 1.5s;
  opacity: 1;
  overflow: hidden;
}

.brand-container span[data-active="true"] {
  opacity: 1;
  width: min-content;
  animation: brandAnimation 2s ease reverse;
}

.brand-container span[data-active="false"] {
  width: 0;
  opacity: 0;
  animation: brandAnimation 1.5s ease;
}

@keyframes brandAnimation {
  from {
    width: min-content;
    opacity: 1;
  }

  to {
    width: 0;
    opacity: 0;
  }
}

.navigation-buttons-container {
  display: flex;
  align-items: center;
  padding-left: 1%;
  width: 25%;
  background-color: yellow;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 690px) {
  .navigation-buttons-container {
    display: none;
  }
}

.navigationButton {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
